<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <title>Análisis de datos y visualizador</title>
</head>
<body>
    <header>
        <div class="contenedormenu">
            <div class="titulo">
                <a href="{{ url_for('home') }}">
                    <h1>IA Data & Visualizations</h1>
                </a>
            </div>
            <a href="{{ url_for('ia') }}">
                <button type="button">IA</button>
            </a> 
            <a href="{{ url_for('analizar_datos') }}">
                <button type="button">Analizar datos</button>
            </a> 
            <a href="{{ url_for('tutoriales') }}">
                <button type="button">Tutoriales</button>
            </a>
            <a href="{{ url_for('donacion') }}">
                <button type="button">Donacion</button>
            </a>
        </div>

    </header>
    <main>
        <div class="contenedor-home">
            <h2 class="titulodes">¡Bienvenido a IA & Data Visualizations!</h2>
            <div class="descripcion">
                <p class="texto-des">
                    Aqui encontraras todas las herramientas necesarias para ayudarte a 
                    analizar datos, visualizar graficos, hacer predicciones con IA, probar hipotesis y más, de manera facil e intuitiva.
                </p>
            </div>
            <div class="iconos">
                <a href="">
                    <img src="/static/css/assets/facebook.png" alt="icono">
                </a>
                <a href="">
                    <img src="/static/css/assets/facebook.png" alt="icono">
                </a>
                <a href="">
                    <img src="/static/css/assets/linkedin.png" alt="icono">
                </a>
                <a href="">
                    <img src="/static/css/assets/instagram.png" alt="icono">
                </a>
                <a href="">
                    <img src="/static/css/assets/youtube.png" alt="icono">
                </a>
            </div>
        </div>
    </main>
</body>
</html>