<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ia.css">
    <title>Análisis de datos y visualizador</title>
</head>
<body>
    <header>
        <div class="contenedormenu">
            <div class="titulo">
                <a href="{{ url_for('home') }}">
                    <h1>IA Data & Visualizations</h1>
                </a>
            </div>
            <a href="{{ url_for('ia') }}">
                <button type="button">IA</button>
            </a> 
            <a href="{{ url_for('analizar_datos') }}">
                <button type="button">Analizar datos</button>
            </a> 
            <a href="{{ url_for('tutoriales') }}">
                <button type="button">Tutoriales</button>
            </a>
            <a href="{{ url_for('donacion') }}">
                <button type="button">Donacion</button>
            </a>
        </div>

    </header>